.avatar {
    cursor: pointer;
}

.popover {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 1.3em;
    font-weight: 500;
}

.popover__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    font-size: 1.5rem;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}

.popover__item:hover {
    background-color: $primary-blue;
    color: white;
}

.divider {
    width: 70%;
    height: 0;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 10px auto 10px auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 6px;
    font-size: 1.5rem;
    padding: 0.4em;
    background-color: $primary-blue;
    color: $color-white;
    border-radius: 10px;
}